.contact{
   display:  flex;
   justify-content:center;
   align-items: center;
   height: 40vh;
   background-color: brown;
   color: white;
}

.first {
   padding-left: 20px;
   width: 35%;
}
.second {
   width: 35%;
   text-align: center;
   
}
.third {
   margin-top: 30px;
   width: 40%;
}